    body {
        font-family: sans-serif;
        font-weight: bolder;
        background-color: black;
        color: antiquewhite;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 2em;
    }
    .alert-info {
        display: flex;
        justify-content: center;
        background-color: black;
        border: 2px solid blue;
        padding: .8em;
    }
    .alert-info a {
        text-decoration: none;
        color: antiquewhite;
        letter-spacing: 1px;
        font-size: 12px;
    }
    .nav-links {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        list-style: none;
        padding: 0;
    }
    li {
        display: flex;
        background-color: antiquewhite;
        justify-content: center;
        border: 2px solid black;
        padding: .8em;
        margin: 12px 0;
        opacity: .70;
    }
    img {
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    h1 {
        display: flex;
        justify-content: center;
        font-size: 3em;
        font-weight: bold;
    }
    .sub-section {
        display: flex;
        flex-direction: column;
        font-style: italic;
    }
    #social-media-links {

    }
    li a:hover {
        color: aqua;
    }
    .alert-info a:hover {
        color: aqua;
    }


/* Large devices (desktops, 992px and up) */
@media all and (min-width:992px) {
    body {
        font-family: sans-serif;
        font-weight: bolder;
        background-color: black;
        color: antiquewhite;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin: 2em;
        width: auto;
    }
    /*body {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-areas:
                    "header nav-links"
                    "header-img header-img"
                    "main sub-section"
                    "footer footer";
    }*/
    .header-img{
        display: flex;
        grid-area: header-img;
        width: 100%;
    }
    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }
    .hidden-on-desktop{

    }
    .alert-info {
        display: none;
    }
    .h1 {
        display: grid;
        font-size: 3em;
        font-weight: bold;
    }
    .nav-links {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        text-decoration: underline;
        height: inherit;
    }
    /*li {
        background-color: white;
        border: none;
        padding: .8em;
        margin: 12px 0px 12px 0px;
    }*/
    li a:hover{
        color: aqua;
    }
    a {
        color: black;
        display: flex;
        justify-content: flex-end;
    }
    .main {
        width: 60%
    }
    .sub-section {
        width: 40%;
        margin-top:0;
        font-style: italic;
    }
    .alert-info a:hover{
        color: aqua;
    }

    footer{
        grid-area: footer;
        display: flex;
        font-size: 1em;
        /*margin-top: 1em;*/
        flex-direction: row;
        justify-content:space-between;
        width: 100%;
    }
    #social-media-links {
        font-size: 1em;
        width: 60%;
        color: white;
        margin-top: 1em;
    }
    #social-media-links > ul {
        display: inline-block;
        width: 20%;
        margin-top: 0;
        padding: 0;
        float: right;

    }
}