body {
    font-family: sans-serif;
    font-weight: bolder;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.alert-info {

}

.nav-links {

}

.header-img {

}

.main {

}

#main {

}

h1 {

}

.sub-section {

}

#social-media-links {

}

h2 {

}

li {

}